# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Distribution / PyInstaller / Executables
dist/
build/
*.spec
*.exe

# User Config
dns_config.json

# IDE
.vscode/
.idea/
*.swp
